astropy==4.3.1
astroquery==0.4.4
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.9
click==7.1.2
cycler==0.11.0
fanstatic==1.1
fonttools==4.28.4
html5lib==1.1
idna==3.3
importlib-metadata==4.9.0
js==1.0
keyring==23.4.0
kiwisolver==1.3.2
matplotlib==3.5.1
numpy==1.21.4
packaging==21.3
photutils==1.2.0
Pillow==8.4.0
pip==21.1.2
pyerfa==2.0.0.1
pyparsing==3.0.6
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
pyqt5-tools==5.15.4.3.2
PyQt5==5.15.4
PyQtWebEngine-Qt5==5.15.2
PyQtWebEngine==5.15.5
python-dateutil==2.8.2
python-dotenv==0.19.2
pyvo==1.2
pywin32-ctypes==0.2.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
requests==2.26.0
scipy==1.7.3
setuptools==57.0.0
shutilwhich==1.1.0
six==1.16.0
soupsieve==2.3.1
typing-extensions==4.0.1
urllib3==1.26.7
webencodings==0.5.1
WebOb==1.8.7
wheel==0.36.2
zipp==3.6.0
